.wizard-page {
  padding: 20px;
  background-color: #f4f7fa;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}
